.header{
    background-image: url(../assets/images/header-bg-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:1920px 1080px;
}
ul.menu__list {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
    ul.menu__list li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
ul.personal__list {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
    ul.personal__list li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
.smoothies{
    background-color:white;
    background-size:1920px 1080px;
    /* -webkit-background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
li{
    list-style-type: none;}
